header{
    background-color: #3CB371;
    height: 200px;
}
nav .links a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    margin-right: 2rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav .links a:hover{
    color: darkgreen;
}
.white{
    color: whitesmoke;
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
body{
    background-color:#F0FFFF;
}