*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#F0FFFF;
}
ul li{
    list-style: none;
    margin: 15px;
}

.header {
    display: flex;
    font-size: 20pt;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background-color: #02e093;
    color: #fff;
}
.links{
    display: flex;
    font-size: 18pt;
}
.links li a{
    list-style: none;
    margin: 20px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}
.links li a:hover{
    text-decoration: underline;
    color:darkgreen;
    font-weight: bold;
    cursor: pointer;
}
.name{
    color: whitesmoke;
    text-decoration: none;
}
.content {
    text-align: center;
    color: #36454F;
    padding: 40px 30px;
    font-family: 'Zilla Slab', serif;
    font-size: 14pt;
}
.para{
    margin: 10px 35%;
}
.para a{
    text-decoration: none;
    color: #36454F;
}
.heading{
    font-weight: bold;
}